* {
  margin: 0;
  padding: 0;
}
:root {
  --color-primary: aquamarine;
  --color-grey: #f7f7f7;
  --color-primary-dark: rgb(65, 131, 109);

  --color-secondary: #c0c0c0;
  --color-secondary-dark: #6c6c6c;

  --shadow-dark: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
html {
  font-size: 62.5%; /*to make one rem = 10px*/
  font-family: sans-serif;
  scroll-behavior: smooth;
}

/* ////////////////// global styling ////////////////////// */
.heading__primary {
  font-size: 5rem;
  font-weight: 300;
  margin-bottom: 3rem;
  text-transform: capitalize;
}

.heading__secondary {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.heading__third {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.paragraph {
  font-size: 1.5rem;
  line-height: 2rem;
}
.btn {
  border-radius: 100px;
  border: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
.btn-primary {
  display: block;
  margin: 0 auto;
  color: white;
  background-color: var(--color-primary-dark);
}

/* ////////////////// intro section ////////////////////// */
.section__intro {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-grey)
  );
}

.intro__container {
  padding-top: 10rem;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.intro__img {
  cursor: pointer;
  display: block;
  width: 30%;
  border-radius: 3px;
  transition: all 0.2s;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
}
.intro__img:hover {
  transform: scale(1.03);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.6);
}
.intro__desc {
  width: 30%;
}

.intro__cta {
  margin-top: 5rem;
  height: 15%;
  text-align: center;
}
.intro__label-group {
  display: inline-block;
  margin-right: 2rem;
}
.intro__cta-label {
  font-size: 1.5rem;
}
.intro__btn {
  cursor: pointer;
  font-size: 2.2rem;
  margin-top: 2rem;
  padding: 1rem 2rem;
}
.cta__info {
  margin: 0 auto;
  width: 30%;
}

/* ////////////////// ourr ducks section ////////////////////// */
.our__ducks {
  margin-top: 5rem;
  background-color: white;
  height: 100rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  align-content: start;
  align-items: center;
  justify-items: center;
}
.our__ducks-container {
  width: 95%;
  margin: 1rem auto;
}
.duck__card {
  width: 30rem;
  height: 42rem;
  background-color: aliceblue;
  box-shadow: var(--shadow-light);
}
.duck__card p {
  font-size: 1.3rem;
}
.card__img {
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 3px;
  /* margin: 1rem auto; */
}
.card__button {
  display: block;
  margin: 3rem auto;
  padding: 1rem 2rem;
  border: none;
  border-radius: 100px;
  background-color: var(--color-secondary);
  color: black;
  box-shadow: var(--shadow-light);
  cursor: pointer;
  transition: all 0.2s;
}

.card__button:hover {
  box-shadow: var(--shadow-dark);
  transform: translateY(-2px);
}
.item--1 {
  grid-column: 1/-1;
}
